/* @tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .heading {
    @apply text-2xl 
    text-slate-100
    font-semibold
    hover:text-yellow-300 
    hover:cursor-pointer
    md:text-9xl
  }

  .cita {
    @apply text-lg 
    tracking-widest
    font-semibold
    text-yellow-300
    mt-10
    md:text-2xl
  }

  .container {
    @apply bg-slate-300
    border-8
    w-full
    h-full
    rounded-t-large
    rounded-b-3xl
    box-border
    border-white
  }

  .images {
    @apply inset-0
    w-52
    h-64
    object-cover
    shadow-xl
    rounded-lg
  }

  .images:hover {
    @apply transform
    scale-110
    -rotate-6
    transition
  }

  .bodyCard {
    @apply flex
    items-center
    h-60
    bg-slate-200/70
    rounded-tr-2xl
    rounded-br-2xl
    shadow-2xl
    border-8
    border-l-0
    border-slate-700
  }

  .items-nav {
    @apply px-10
    text-white
    text-sm
    font-bold
    leading-relaxed
    inline-block
    mr-4
    py-2
    whitespace-nowrap
    uppercase
    cursor-pointer
  }
}

/* @layer utilities {
  .heading:hover {
    @apply text-red-500
  }
} */
/* @layer components {
    
} */

/* body {
  /* background-color: #ddd; */
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: darkslategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */ 
